<div class="card">
  <p-tabView styleClass="tabview-custom">
      <p-tabPanel>
          <ng-template pTemplate="header">
              <i class="pi pi-calendar"></i>
              <span>Master</span>
          </ng-template>

          <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
            </ng-template>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                quas!
            </p>
            <ng-template pTemplate="footer">
                <p-button label="Save" icon="pi pi-check"></p-button>
                <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
            </ng-template>
          </p-card>
      </p-tabPanel>
      <p-tabPanel header="Professional">
          <ng-template pTemplate="header">
              <i class="pi pi-user"></i>
              <span>Professional</span>
          </ng-template>

          <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
            </ng-template>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                quas!
            </p>
            <ng-template pTemplate="footer">
                <p-button label="Save" icon="pi pi-check"></p-button>
                <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
            </ng-template>
          </p-card>
      </p-tabPanel>
      <p-tabPanel header="Technology">
          <ng-template pTemplate="header">
              <i class="pi pi-search"></i>
              <span>Technology</span>
              <i class="pi pi-cog"></i>
          </ng-template>

          <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
            </ng-template>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                quas!
            </p>
            <ng-template pTemplate="footer">
                <p-button label="Save" icon="pi pi-check"></p-button>
                <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
            </ng-template>
          </p-card>
      </p-tabPanel>
      <p-tabPanel header="Programming training">
        <ng-template pTemplate="header">
            <i class="pi pi-search"></i>
            <span>Programming training</span>
            <i class="pi pi-cog"></i>
        </ng-template>

        <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
          <ng-template pTemplate="header">
              <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
          </ng-template>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
              quas!
          </p>
          <ng-template pTemplate="footer">
              <p-button label="Save" icon="pi pi-check"></p-button>
              <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
          </ng-template>
        </p-card>
    </p-tabPanel>
  </p-tabView>
</div>
